@use "../variables" as *;

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-top: $spacer-5;
  padding-bottom: $spacer-5;
  background-color: $black;
  color: $gray-lighter;
  position: relative;
  gap: 4rem;

  a {
    color: inherit;
    text-decoration: inherit;
  }
}
