@use "../variables" as *;

.ceremony {
  position: relative;
  padding : $spacer-4;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .loader {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .sticky-button {
    display: flex;
    width:max-content;
    margin-left:auto;
    bottom: 0;
    justify-content: flex-end;
    position: sticky;

    .MuiButtonBase-root {
      &.MuiFab-root {
        background-color: $black;
        color: white;
        margin-right: $spacer-4;
        margin-bottom: $spacer-4;

        &.Mui-disabled {
          background-color: $gray-dark;
        }
      }
    }
  }

  .award {
    flex-grow: 1;
    color: $black;
    width: 100%;

    &.expanded {
      background: $golden-gradient;
      padding: 2px;
      border-radius: 4px;
      margin-bottom: $spacer-6;

      .MuiAccordion-root {
        box-shadow: unset;
      }
    }

    .MuiPaper-root {
      margin-bottom: $spacer-6;
      background-color: white;

      .MuiAccordionSummary-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        .award-title {
          display: flex;
          flex-direction: row;
          align-items: center;

          .MuiSvgIcon-root {
            font-size: 60px;
          }

          .MuiTypography-root {
            font-weight: 0;
          }
        }

        .award-picks-preview {
          display: flex;
          flex-direction: column;
          margin-right: $spacer-3;
          gap: $spacer-6;

          .MuiSvgIcon-root {
            margin-right: $spacer-1;
          }

          .award-pick-preview {
            display: flex;
            align-items: center;

            .MuiTypography-root {
              &.title {
                font-weight: bold;
                text-decoration: underline;
              }

              &.subtitle {
                font-weight: normal;
                text-decoration: none;
                margin-left: $spacer-2;
              }
            }
          }
        }
      }

      .MuiAccordionSummary-expandIconWrapper {
        .MuiSvgIcon-root {
          font-size: 45px;
        }
      }

      .nominee-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: $spacer-6;
      }

      .MuiAccordionDetails-root {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .MuiButton-text {
          color: $black;
          text-decoration: underline;
        }
      }
    }
  }

  .nominee {
    display: flex;
    flex-basis: 15%;

    &.selected {
      background: $golden-gradient;
      padding: 2px;
      border-radius: 4px;

      .MuiCard-root {
        box-shadow: unset;
      }
    }

    &.search {

      .search-nominee {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $spacer-2;

        .MuiList-root {
          overflow: auto;
          max-height: 300px;
          margin-bottom: $spacer-2;
        }
      }

      .MuiCard-root {
        .MuiCardHeader-root {
          flex-grow: unset;
        }
      }
    }

    .MuiPaper-root {
      margin-bottom: 0;
    }

    .MuiCard-root {
      background-color: white;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .MuiCardHeader-root {
        flex-grow: 1;
        padding: $spacer-2 $spacer-4;
        background-color: $black;
        color: white;
        text-align: center;

        .MuiTypography-root {
          font-size: $font-size-medium;
          line-height: $font-size-medium;

          .nominee-alt-title {
            color: white;
            font-size: $font-size-littler;
          }
        }
      }

      .MuiCardContent-root {
        padding: 0;

        .nominee-images {
          position: relative;

          .secondary-image {
            position: absolute;
            right: 0;
            bottom: 0;
            max-width: 90px;
          }
        }

        img {
          aspect-ratio: 2/3;
          height: auto;
        }
      }

      .MuiCardActions-root {
        display: flex;
        justify-content: center;

        .actions {
          width: 80%;
          display: flex;
          gap: $spacer-2;
          flex-direction: column;

          .action-container {
            width: 100%;
            margin: 0;

            .MuiSvgIcon-root {
              font-size: 20px;
            }

            .MuiButtonBase-root {
              width: 100%;
            }
          }
        }

        .nominee-selected {
          background-color: $black;
          border-radius: 4px;

          .MuiButtonBase-root {
            background: $golden-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .favorite-selected {
          .Mui-disabled {
            color: $pink;
            background-color: white;
          }

          .MuiButtonBase-root {
            height: 35px;
            background: white;
          }
        }

        .favorite {
          color: $black;
          .MuiButtonBase-root {
            height: 35px;
            background: $pink;
          }
        }
      }
    }

    .search {
      .MuiToggleButtonGroup-root {
        margin-bottom: $spacer-2;
      }

      .MuiCardContent-root {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 300px;

        .MuiInputBase-root {
          font-size: $min-no-zoom-font-size;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .ceremony {
    padding: 0;

    .sticky-button {
      position: fixed;
      right: 0;
      margin-bottom: $footer-size-mobile;
      width: unset;
      margin-left: unset;

      .MuiButtonBase-root {
        &.MuiFab-root {
          margin-right: $spacer-2;
          margin-bottom: $spacer-2;
        }
      }
    }

    .awards {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      max-width: 100vw;
      overflow-x: hidden;

      .MuiButton-text {
        color: $black;
        text-decoration: underline;
        height: 20px;
        margin-bottom: $spacer-2;
      }
    }

    .slider {
      .slider-content {
        .nominee {
          padding: $spacer-2 0;
          max-width: 350px;

          &.search {
            .MuiPaper-root {
              height: fit-content;
            }
          }
        }
      }
    }

    .slider-header {
      position: fixed;
      background-color: white;
      z-index: 2;
      border-bottom: 1px solid $primary-color;
      min-height: 50px;
      padding-bottom: $spacer-2;

      .awards-slider {
        display: flex;
        flex-direction: column;
        align-items: center;

        .MuiMobileStepper-dotActive {
          background-color: $black;
        }

        .MuiTypography-subtitle2 {
          font-size: $font-size-little;
        }
        .MuiTypography-h6 {
          font-size: $font-size-medium;
        }
      }
    }

    .main-slider {
      flex-grow: 1;
      display: flex;
      align-items: center;
      margin-top: $slider-header-size;

      .nominee-part {
        position: relative;
        padding-bottom: $spacer-3;

        .nominee {
          flex-grow: 1;
          padding: 2px;

          &.selected {
            background: $golden-gradient;
            padding: 2px;
            border-radius: 4px;

            .MuiCard-root {
              box-shadow: unset;
            }
          }

          .MuiPaper-root {
            margin-bottom: 0;
          }

          .MuiCard-root {
            .MuiCardContent-root {
              .nominee-images {
                width: 100%;
                display: flex;
                .secondary-image {
                  max-width: 60px;
                }
              }
            }

            .MuiCardActions-root {
              .actions {
                .action-container {

                  &.favorite {
                    .MuiButtonBase-root {
                      height: 25px;
                    }
                  }

                  &.favorite-selected {
                    .MuiButtonBase-root {
                      height: 25px;
                      border-color: $pink;
                    }
                  }

                  .MuiButtonBase-root {
                    font-size: $font-size-littler;
                    padding: 0 $spacer-3;
                    height: 35px;
                  }
                }
              }
            }
          }
        }

        .award-choice-indicator {
          margin-top: $spacer-2;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100vw;
          text-align: center;

          .award-choice-text {
            width: 80%;
            display: flex;
            justify-content: center;

            .MuiTypography-subtitle1 {
              line-height: 1.2rem;
            }
          }

          .MuiMobileStepper-root {
            padding: $spacer-1;

            .MuiMobileStepper-dotActive {
              background-color: $black;
            }
          }
        }
      }

      .MuiSvgIcon-root {
        font-size: 50px;
      }
    }
  }
}

@media screen and (max-height: 700px) {
  .ceremony {
    .awards {
      .slider-header {
        min-height: unset;
        .awards-slider {
          .MuiTypography-h6 {
            font-size: $font-size-normal;
          }
        }
      }
    }
    .slider {
      .slider-content {
        .nominee {
          height: 100%;

          .MuiCardHeader-content {
            .MuiTypography-h5 {
              font-size: $font-size-little;
            }
          }
          max-width: 200px;
        }
      }
    }
    .award-choice-indicator {
      .MuiTypography-subtitle1 {
        font-size: $font-size-little;
      }
    }
  }
}
