@use "../variables" as *;

.ceremony {
  position: relative;
  padding : $spacer-4;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .sticky-button {
    display: flex;
    width:max-content;
    margin-left:auto;
    bottom: 0;
    justify-content: flex-end;
    position: sticky;

    .MuiButtonBase-root {
      &.MuiFab-root {
        background-color: $black;
        color: white;
        margin-right: $spacer-4;
        margin-bottom: $spacer-4;

        &.Mui-disabled {
          background-color: $gray-dark;
        }
      }
    }
  }

  .award {
    flex-grow: 1;
    color: $black;
    width: 100%;

    &.expanded {
      background: $golden-gradient;
      padding: 2px;
      border-radius: 4px;
      margin-bottom: $spacer-6;

      .MuiAccordion-root {
        box-shadow: unset;
      }
    }

    .MuiPaper-root {
      margin-bottom: $spacer-6;
      background-color: white;

      .MuiAccordionSummary-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        .award-title {
          display: flex;
          flex-direction: row;
          align-items: center;

          .MuiSvgIcon-root {
            font-size: 60px;
          }
        }

        .award-pick-preview {
          margin-right: $spacer-8;
          display: flex;
          align-items: center;
          text-decoration: underline;

          .MuiTypography-root {
            h4 {
              font-weight: normal;
            }
          }
        }
      }

      .MuiAccordionSummary-expandIconWrapper {
        .MuiSvgIcon-root {
          font-size: 45px;
        }
      }

      .nominee-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: $spacer-6;
      }
    }
  }

  .nominee {
    flex-grow: 1;

    &.selected {
      background: $golden-gradient;
      padding: 2px;
      border-radius: 4px;

      .MuiCard-root {
        box-shadow: unset;
      }
    }

    .MuiPaper-root {
      margin-bottom: 0;
    }

    .MuiCard-root {
      background-color: white;

      .MuiCardHeader-root {
        padding: $spacer-3 $spacer-4;
        background-color: $black;
        color: white;
        text-align: center;

        .MuiTypography-root {
          font-size: $font-size-medium;

          .nominee-alt-title {
            color: white;
            font-size: $font-size-littler;
          }
        }
      }

      .MuiCardContent-root {
        padding: 0;

        .nominee-images {
          position: relative;

          .secondary-image {
            position: absolute;
            right: 0;
            bottom: 0;
            max-width: 90px;
          }
        }

        img {
          height: auto;
        }
      }

      .MuiCardActions-root {
        display: flex;
        justify-content: center;

        .actions {
          width: 80%;

          .action-container {
            width: 100%;

            .MuiButtonBase-root {
              width: 100%;
            }
          }
        }

        .nominee-selected {
          background-color: black;
          border-radius: 4px;

          .MuiButtonBase-root {
            background: $golden-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .ceremony {
    margin: 0;

    .sticky-button {
      position: absolute;
      right: 0;
      width: unset;
      margin-left: unset;
    }

    .awards {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      max-width: 100vw;
      overflow-x: hidden;
    }

    .slider {
      .slider-content {
        .nominee {
          margin: $spacer-4 0;
          max-width: 350px;
        }
      }
    }

    .slider-header {
      border-bottom: 1px solid $primary-color;
      min-height: 75px;

      .awards-slider {
        display: flex;
        flex-direction: column;
        align-items: center;

        .MuiMobileStepper-dotActive {
          background-color: $black;
        }

        .MuiTypography-subtitle2 {
          font-size: $font-size-little;
        }
        .MuiTypography-h6 {
          font-size: $font-size-medium;
        }
      }
    }

    .main-slider {
      flex-grow: 1;
      display: flex;
      align-items: center;

      .nominee-part {
        position: relative;
        padding-bottom: $spacer-7;

        .nominee {
          flex-grow: 1;

          &.selected {
            background: $golden-gradient;
            padding: 2px;
            border-radius: 4px;

            .MuiCard-root {
              box-shadow: unset;
            }
          }

          .MuiPaper-root {
            margin-bottom: 0;
          }

          .MuiCard-root {
            .MuiCardContent-root {
              .nominee-images {
                .secondary-image {
                  max-width: 60px;
                }
              }
            }

            .MuiCardActions-root {
              .actions {
                .action-container {
                  .MuiButtonBase-root {
                    font-size: $font-size-littler;
                    padding: 0 $spacer-3;
                    height: 35px;
                  }
                }
              }
            }
          }
        }

        .award-choice-indicator {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          bottom: 0;
          width: 100vw;
          text-align: center;

          .MuiMobileStepper-dotActive {
            background-color: $black;
          }
        }
      }

      .MuiSvgIcon-root {
        font-size: 50px;
      }
    }
  }
}

@media screen and (max-height: 700px) {
  .ceremony {
    .awards {
      .slider-header {
        min-height: unset;
        .awards-slider {
          .MuiTypography-h6 {
            font-size: $font-size-normal;
          }
        }
      }
    }
    .slider {
      .slider-content {
        .nominee {
          .MuiCardHeader-content {
            .MuiTypography-h5 {
              font-size: $font-size-little;
            }
          }
          max-width: 200px;
        }
      }
    }
    .award-choice-indicator {
      .MuiTypography-subtitle1 {
        font-size: $font-size-little;
      }
    }
  }
}
