@use "../variables" as *;

.home {
  margin: $spacer-4;

  .highlight-row {
    display: flex;
    flex-direction: row;
    gap: $spacer-8;
    .highlight {
      width: 100%;
      &.MuiCard-root {
        display: flex;
        flex-direction: column;

        .MuiTypography-root {
          a {
            color: inherit;
          }
        }

        .MuiCardHeader-root {
          position: relative;

          .MuiCardHeader-content {
            display: flex;
            flex-direction: row;
          }

          .MuiCardHeader-title {
            font-size: $font-size-extra-large;
            font-weight: bold;
          }

          .MuiAvatar-root {
            height: 60px;
            width: 60px;
          }

          .MuiChip-root {
            position: absolute;
            top: 0;
            right: 0;
            align-self: flex-end;
            border-radius: 0;
            background-color: $black;
            font-size: $font-size-normal;
            color: white;
          }
        }

        .MuiCardContent-root {
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          padding-bottom: $spacer-3;

          .highlight-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            a {
              color: $black;
              font-weight: bold;
            }
          }

          .highlight-right {
            .MuiCardMedia-img {
              flex-grow: 1;
              max-width: 350px;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .home {
    .highlight-row {
      flex-direction: column;

      .highlight {
        &.MuiCard-root {
          .MuiCardHeader-root {
            flex-direction: column;
            width: 100%;
            padding: 8px 8px 4px;

            .MuiCardHeader-content {
              width: 100%;
              flex-direction: column-reverse;
            }

            .MuiChip-root {
              font-size: $font-size-little;

              .MuiChip-label {
                padding-left: 4px;
                padding-right: 4px;
              }
            }

            .MuiCardHeader-title {
              font-size: $font-size-large;
            }
          }

          .MuiCardContent-root {
            padding: 4px 8px 8px;
          }

          .MuiCardMedia-img {
            flex-grow: 1;
            max-height: 100px;
            object-fit: contain;
          }
        }
      }
    }
  }
}
