@use "../variables" as *;

.login-layout {
  margin: $spacer-4;
  height: 100%;

  .login-page {

    .app-icon {
      position: initial;
      transform: initial;
      margin: $spacer-4 auto;
    }

    h1 {
      text-align: center;
      margin-bottom: 0;
      color: $primary-color;
    }

    h2.login-subtitle {
      color: $secondary-color;
      font-size: $font-size-extra-large;
      text-align: center;
      margin-bottom: $spacer-8;
    }

    .login-label {
      color: $primary-color;
      font-size: $font-size-large;
      text-align: center;
      margin-bottom: $spacer-1;
    }

    .login-box {
      margin: 0 auto;
      width: 550px;
      padding: $spacer-5 $spacer-8 $spacer-6 $spacer-8;
      border-radius: 4px;
      border: 1px solid #ddd;
      text-align: center;
      position: relative;

      a {
        display: inline-block;
      }

      form {
        margin: $spacer-4 0 0 0;

        .actions {
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: $spacer-6;

          .recaptcha-error {
            font-size: small;
            color: $error-color;
            margin-bottom: $spacer-2;
          }

          .recaptcha-container {
            margin-bottom: $spacer-2;
          }

          .action-container {
            margin-bottom: $spacer-3;

            & > button {
              display: flex;
              margin: 0 auto;
            }
          }

          .google-login {
            display: flex;
            justify-content: center;
          }

          .MuiButton-root {
            width: 240px;
            height: 32px;
          }
        }

        .login-confirmation {
          font-size: small;
          margin-bottom: $spacer-2;
        }
      }

      .alternative-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: $spacer-6;
        margin-left: 10px;
        .google-login {
          margin-bottom: $spacer-2;
        }
      }

      hr {
        margin: $spacer-6 0;
      }

      .login-action-button {
        & > button {
          width: 60%;
          background-color: white;
          border: 1px solid $primary-color;
          color: $primary-color;

          &:hover {
            background-color: white;
          }
        }
      }

      .login-link {
        color: $black;
        a {
          color: inherit;
          text-decoration: inherit;
        }

        font-size: smaller;
      }

      .reset-link {
        color: $black;
        a {
          color: inherit;
          text-decoration: inherit;
        }

        font-size: smaller;
        position: absolute;
        right: 0;
        bottom: 0;
        margin: $spacer-2;
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 401px) {
  .login-layout {
    .login-page {
      display: flex;
      height: 100%;
      align-items: center;
      .login-box {
        padding: $spacer-4;
        width: unset;

        .alternative-actions {
          margin-top: $spacer-3;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .login-layout {
    .login-page {
      display: flex;
      height: 100%;
      align-items: center;
      .login-box {
        padding: $spacer-3;
        width: unset;

        .alternative-actions {
          margin-top: $spacer-3;
          margin-bottom: $spacer-3;
          margin-left: 10px;
        }
      }
    }
  }
}
