@use "../variables" as *;

.share {
  padding: $spacer-4;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  .share-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .MuiImageList-root {
      .MuiImageListItem-root {
        max-width: 160px;

        .share-images {
          max-width: 160px;
          display: flex;
          flex-direction: column;
          position: relative;

          .award-tile {
            display: flex;
            flex-direction: column;
            background: $golden-gradient;
            padding: 2px;
            border-radius: 5px;

          .award-tile-content {
            display: flex;
            flex-direction: column;

            img {
              aspect-ratio: 2/3;
              border-bottom-right-radius: 3px;
              border-bottom-left-radius: 3px;

              &.secondary-image {
                border-bottom-left-radius: 0;
              }
            }

            .award-title {
              border-top-right-radius: 3px;
              border-top-left-radius: 3px;
              padding: $spacer-2;
              display: flex;
              justify-content: center;
              background-color: $black;

              .MuiTypography-root {
                text-align: center;
                background: $golden-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }
        }

        img {
          height: auto;
        }

        .secondary-image {
          position: absolute;
          right: 2px;
          bottom: 2px;
          border-bottom-right-radius: 3px;
          max-width: 50px;
        }
      }

      .MuiImageListItemBar-title {
        white-space: normal;
        line-height: 1.2;
        font-size: $font-size-normal;
        font-weight: bold;
      }
      }
    }
  }
}
